*{
padding: 0;
margin: 0;
text-decoration: none;
list-style-type:none;
}

body{
font-family:  "Helvetica", sans-serif;
}

.container{
display:flex;
justify-content: center;
background-color:#FFFF ;
flex-wrap: wrap;
}

.box{
border: 1px solid #e5e7eb;
padding: 40px;
margin: 10px;
border-radius: 15px;
width: 300px;
}

.subtitle{
margin-top: 16px;
}

.price{
margin-top: 24px;
}

.btn{
border: 1px solid #A5B4FC;
border-radius: 5px;
margin-top: 24px;
padding: 12px 0px;
background-color: white;
width:100%;
color: blue;
}

#btn2{
background-color: #4F46E5;
color: white;
}

.liste{
margin-top: 32px;
}

.bold-text{
font-size: 30px;
font-weight: 800;
}

.btn1{
display: flex;
justify-content: space-between;
}

#popular-buton{
border: none;
border-radius:15px ;
background-color: #EDECFC;
padding: 10px;
color: #4F46E5;
}

#most-popular{
border-color: #4F46E5;
}

#most-popular h3{
color: #4F46E5;
}

.box ul li{
margin-top: 12px;
}

.box ul li svg{
margin-right: 5px;
}